@page
@model WeblawyersBox.Pages.erro.Erro404Model
@{
    Layout = null;
}

<!doctype html>
<html lang="en">


<!-- Mirrored from themesbrand.com/veltrix-mvc/horizontal/pages-404.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 12 Oct 2021 18:46:43 GMT -->
<head>
    <meta charset="utf-8" />
    <title>404 | lawyerBox</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="gestao dos ecritorios de advogados" name="Advogados, escritorios" />
    <meta content="Themesbrand" name="Franco Lucky Damiao" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="assets/images/favicon.ico">

    <!-- Bootstrap Css -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Icons Css -->
    <link href="assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="~/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />

</head>

<body>

    <div class="authentication-bg d-flex align-items-center pb-0 vh-100">
        <div class="content-center w-100">
            <div class="container">
                <div class="card mo-mt-2">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-lg-4 ml-auto">
                                <div class="ex-page-content">
                                    <h1 class="text-dark display-1 mt-4">404!</h1>
                                    <h4 class="mb-4">Ops, a pagina nao encontrada</h4>
                                    <p class="mb-5">It will be as simple as Occidental in fact, it will be Occidental to an English person</p>
                                    <a class="btn btn-primary mb-5 waves-effect waves-light" href="/index"><i class="mdi mdi-home"></i> Back to Dashboard</a>
                                </div>

                            </div>
                            <div class="col-lg-5 mx-auto">
                                <img src="~/assets/images/error/error-1.jpg" alt="" class="img-fluid mx-auto d-block">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end card -->
            </div>
            <!-- end container -->
        </div>

    </div>



    <!-- JAVASCRIPT -->
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="assets/libs/metismenu/metisMenu.min.js"></script>
    <script src="assets/libs/simplebar/simplebar.min.js"></script>
    <script src="assets/libs/node-waves/waves.min.js"></script>

    <script src="assets/js/app.js"></script>

</body>

<!-- Mirrored from themesbrand.com/veltrix-mvc/horizontal/pages-404.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 12 Oct 2021 18:46:45 GMT -->
</html>
