@page
@model WeblawyersBox.Pages.Autenticar.ConfirmaEmailModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="FLDservice-sistema de gestao de escritorios de advogados">
    <meta name="keywords" content=",Advogados,Adminstrativo,honorarios,timesheet,escritorios">
    <meta name="author" content="Franco lucky Damiao">
    <!-- Favicon icon -->
    <link rel="icon" href="~/assets/images/law.ico" type="image/x-icon">
    <title>ConfirmaEmail</title>
</head>
<body>
    <h1>Validar Email</h1>
    <div>
        <p>Solicitamos que confirme o seu email ! @Model.email</p>
        <p>Caso nao encontre em sua caixa de entrada verfica no Span!</p>
    </div>

</body>
</html>
