@page
@model WeblawyersBox.Pages.Autenticar.termosModel
@{
    Layout = null;
}

<!doctype html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/img/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/img/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/node_modules/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/estilos.css">

    <title>LawersBox :: Termos de Uso</title>
</head>

<body>
    <div class="d-flex flex-column wrapper">
        @*<nav class="navbar navbar-expand-lg navbar-dark bg-danger border-bottom shadow-sm mb-3">
            <div class="container">
                <a class="navbar-brand" href="/"><b>Quitanda Online</b></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target=".navbar-collapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/index.html">Principal</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/contato.html">Contato</a>
                        </li>
                    </ul>
                    <div class="align-self-end">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a href="/cadastro.html" class="nav-link text-white">Quero Me Cadastrar</a>
                            </li>
                            <li class="nav-item">
                                <a href="/login.html" class="nav-link text-white">Entrar</a>
                            </li>
                            <li class="nav-item">
                                <span class="badge rounded-pill bg-light text-danger position-absolute ms-4 mt-0"
                                      title="5 produto(s) no carrinho"><small>5</small></span>
                                <a href="/carrinho.html" class="nav-link text-white">
                                    <i class="bi-cart" style="font-size:24px;line-height:24px;"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>*@

        <main class="flex-fill">
            <div class="container">
                <h2>1. Termos</h2>

                Estes são os Termos de Uso (“Termos de Uso”) do SAJ ADV Sistemas Ltda. (“SAJ ADV”), e regulam o acesso à utilização aos serviços, sites, aplicações e funcionalidades do Sistema (“Serviços”), por você (“Usuário”).

                Ao prosseguir com o acesso ao sistema, você estará expressamente concordando com o conteúdo destes Termos de Uso, que representa um contrato entre você e o SAJ ADV, e concorda em se sujeitar a estas regras e condições para ter acesso ao SAJ ADV.

                O acesso aos serviços, sites, aplicações, funcionalidades e a possibilidade de interação entre os Usuários, implica na total compreensão, aceitação, legitimidade e vinculação a estes Termos de Uso, representando desta maneira uma relação equilibrada entre o Aplicativo e os Usuários, que aderem aos Serviços e a estes Termos de Uso espontaneamente.

                Leia atentamente as condições abaixo estabelecidas para que você possa se utilizar de todas as funcionalidades do SAJ ADV, obtendo assim a melhor experiência de uso. Ciente que os Termos de Uso representam o integral acordo entre você e o Sistema. Caso não concorde com as disposições deste instrumento, o usuário não deve utilizá-los.

                SAJ ADV é uma plataforma virtual de gestão de Escritórios de Advocacia e Departamentos Jurídicos, mantida por SAJ ADV SISTEMAS LTDA. (“Administrador”), sediada na cidade de Florianópolis, SC, inscrita no CNPJ sob o n.º 28.687.849/0001-02, empresa regularmente constituída de acordo com as leis do Brasil.

                O acesso aos Serviços dependerá de prévio cadastro do Usuário, e será controlado por senha pessoal e intransferível, que não poderá ser compartilhada, conforme termos e condições especificados a seguir, submetendo-se, desde já, integralmente à legislação Brasileira vigente.

                Cadastro, Segurança e Privacidade do Usuário

                O cadastramento e acesso à plataforma se dá após a assinatura do contrato de prestação de serviços mediante acesso remoto ao servidor do SAJ ADV com um login e senha de usuário administrador que serão fornecidos em até 24hs (vinte e quatro horas) úteis, contadas da data em que for confirmado o pagamento da primeira parcela.

                O Usuário compromete-se a manter atualizado todos os seus dados cadastrais, para ter uma melhor experiência de uso dos Serviços.

                O SAJ ADV obriga-se a não utilizar as informações cadastrais fornecidas pelo Usuário para a realização de quaisquer atividades ilícitas, mas somente para aquelas expressamente permitidas pela legislação Brasileira e pelo presente acordo.

                O Usuário se responsabiliza integralmente, nos termos da lei, pela veracidade e exatidão das informações prestadas em seu cadastro, de modo que qualquer tentativa de criar falsa identidade, idade, endereço eletrônico, etc., será considerada como infração à legislação e a estes Termos de Uso, possibilitando a imediata rescisão deste acordo, unilateralmente, pelo Administrador, sem prejuízo, ainda, de apuração de eventuais perdas e danos causados ao Administrador ou a terceiros e medidas penais como a apuração de crime de falsidade ideológica entre outros. O SAJ ADV reserva-se no direito de, sem qualquer notificação prévia, efetivar a suspensão ou rescisão da relação com algum Usuário, caso a seu exclusivo e subjetivo critério, identifique alguma inveracidade de dados cadastrais essenciais ao acesso à plataforma.

                Observados os requisitos do cadastro e após completado o mesmo, o SAJ ADV concede a você Usuário uma licença não definitiva, não exclusiva, intransferível, revogável e limitada (sem o direito de sublicenciar) para acessar e usar a plataforma apenas em dispositivos que você possua ou controle, apenas para seu uso pessoal e sujeito às limitações estabelecidas nestes Termos de Uso.

                Esta licença limitada restringe-se aos direitos de propriedade intelectual do SAJ ADV e seus licenciadores e não inclui quaisquer direitos sobre propriedade intelectual de terceiros. Os direitos limitados concedidos a você para acessar e usar o site e a aplicação compõem uma licença limitada e não constituem a venda de nenhum programa de software. o SAJ ADV reserva-se em todos os direitos que não lhe são expressamente concedidos de acordo com estes Termos de Uso, na posição de Usuário.

                Características, atividades e objetivos da plataforma

                O SAJ ADV desenvolve e explora a tecnologia digital – “Plataforma” inserida em seu domínio web – www.sajadv.com.br – “Site”, sendo essencial para a realização da prestação dos serviços a que se dispõe.

                A qualquer momento poderão ser incluídos novos conteúdos, ferramentas e funcionalidades à plataforma, bem como excluídas as já existentes, sem qualquer aviso prévio ao Usuário. Estes novos conteúdos e ferramentas ficarão automaticamente vinculadas e subordinadas a todas as condições destes Termos de Uso.

                O SAJ ADV sempre que receber notificações de abuso feitas por algum Usuário, ou violação aos Termos de Uso, a direitos autorais ou à lei, poderá a qualquer momento, sem a necessidade de informá-lo previamente, suspender ou excluir, temporária ou permanentemente, a conta do Usuário que realizar tais violações.

                Direitos de Autor

                Toda a tecnologia e Serviços encontrados na plataforma (textos, imagens, áudios, softwares, tecnologia, logotipos, slogans, marcas, expressões de propaganda, domínios, nomes comerciais, obras intelectuais, etc.), bem como os softwares que viabilizam as atividades, são de exclusiva propriedade do Administrador, que detém todos os direitos autorais, licenciamentos e direitos de propriedade, marca ou patente a eles relativos.

                Qualquer violação dos direitos de propriedade resultará na responsabilidade direta e pessoal do Usuário ou pessoa responsável, que responderá pelos atos praticados nos termos da lei, com a aplicação das sanções cabíveis nas esferas cível e criminal bem como a apuração de perdas e danos.

                O Usuário se compromete a não reproduzir, duplicar, copiar ou explorar os serviços prestados e/ou softwares utilizados ou material disponibilizado pelo SAJ ADV, para quaisquer fins comerciais de interesse próprio, que não previamente autorizados de forma expressa pelo Administrador.

                Nenhuma responsabilidade, de nenhuma espécie, seja ela de acessibilidade, veracidade, legalidade do conteúdo ou outra qualquer, poderá ser imputada ao Administrador, sempre que algum Usuário, por meio da plataforma, adentrar-se em Sites ou Links de propriedade, administração ou controle de terceiros, tais como patrocinadores, parceiros, prestadores de serviços, etc.

                O Usuário fica terminantemente proibido de: a) utilizar-se das atividades da plataforma para quaisquer fins comerciais, mediante o envio de publicidade, comunicações, avisos, correspondências institucionais, propagandas ou qualquer outro material de natureza semelhante; b) enviar quaisquer espécies de arquivos ou material com vírus que possam causar danos ao software ou ao hardware dos demais Usuários; c) realizar, ou tentar realizar, qualquer tipo de ataque ou invasão ao software.

                Exclusão de Responsabilidade do Administrador

                a) Pela impossibilidade de acesso à Plataforma ou falha de comunicação com o mesmo decorrente de:

                I) quaisquer defeitos ou inadequação dos equipamentos utilizados pelo Usuário para acessar a Plataforma, incluindo, mas não se limitando, aos softwares, hardwares, sistemas de processamento e quaisquer conexões de rede; II) inabilidade do Usuário para operação dos seus equipamentos; III) falta de compreensão das instruções contidas nestes Termos de Uso; IV) falhas na Rede Mundial de Computadores (Internet) e Provedores; V) falhas nos sistemas, softwares e/ou hardwares do Administrador; VI) interrupções propositais realizadas pelo Administrador, por quaisquer motivos; VII) interrupção das atividades do Administrador; VIII) caso fortuito ou força maior.
                b) Por quaisquer prejuízos causados por gravação realizada pelo Usuário (download) para os seus equipamentos próprios, de quaisquer arquivos eletrônicos existentes ou disponibilizados no Aplicativo, quer pelo Administrador, quer por outros Usuários, ou ainda por terceiros;
                c) Por quaisquer prejuízos advindos ao Usuário pela utilização indevida e/ou dolosa por terceiros;
                d) Por quaisquer prejuízos decorrentes da utilização indevida da senha do Usuário por terceiros;
                e) Por eventual inviabilidade técnica de efetivo envio de informações decorrente da impossibilidade de acesso ou falha de comunicação atribuível ao Administrador ou ainda por falhas ordinárias ou extraordinárias, principalmente aquelas que possam resultar em perda de dados e informações previamente obtidas e armazenadas, fluxo de informações a serem obtidas, manutenção do cadastro do Usuário junto a plataforma, bem como por interrupções momentâneas ou definitivas nos Serviços;
                f) Quer civil ou criminalmente pelo conteúdo visual, auditivo ou textual inserido na plataforma por Usuários, que são de inteira responsabilidade do Usuário que as enviou ou publicou.
                g) Por atos de má-fé de terceiros que invadam o software da plataforma, tais como hackers, acessem os dados cadastrais e pessoais fornecidos pelo Usuário e se utilizem ilicitamente dos mesmos para quaisquer fins. O Administrador declara ter os cuidados razoáveis para evitar a invasão do sistema, mas não se responsabiliza e não pode se responsabilizar, pela inviolabilidade do mesmo.
                h) Pela inadimplência de Usuários às normas da lei ou destes Termos de Uso, que gere prejuízos a terceiros e/ou a outros Usuários.

                Prazo, Rescisão e Modificação de Cláusulas

                Os presentes Termos de Uso terão validade e vigência durante o período em que a plataforma estiver disponibilizando seus Serviços ao Usuário conforme estabelecido em contrato de prestação de serviços.

                O Administrador reserva-se o direito de bloquear o acesso e rescindir de imediato, sem aviso prévio, o presente termo de uso, toda vez que, a seu exclusivo critério, entender que há indícios de utilização fraudulenta ou ilícita da plataforma por determinado Usuário. Inclui-se na presente situação, entre outras, quaisquer indícios (a critério único e subjetivo do Administrador) de que o Usuário fraudou ou infringiu, de forma efetiva ou tentada, o sistema de segurança do site.

                Também poderá o Administrador rescindir de imediato o acordo com o respectivo Usuário, impedindo inclusive o recadastramento deste que, a critério exclusivo e subjetivo daquele, tiver de qualquer maneira agido contra a moral, ética, bons costumes, lei, disposições deste instrumento.
                Caso, no entanto, a rescisão tenha sido levada a efeito pelo Administrador, este reserva-se no direito de, a seu exclusivo critério, não aceitar nova solicitação de cadastramento do mesmo Usuário.

                Nossos Termos de Uso são passíveis de alterações. Não se preocupe, manteremos um registro das mudanças em nosso sistema. Também iremos informar nossa base de clientes antes das eventuais modificações entrarem em vigor.

                Penalidades

                O descumprimento de quaisquer das cláusulas e condições destes Termos de Uso por parte do Usuário poderá gerar penalidades a serem impostas ao mesmo pelo Administrador.

                As penalidades passíveis de imposição pelo Administrador, a seu exclusivo critério e independente de justificação, sempre que o Usuário tiver praticado uma infração à lei, aos direitos de terceiros ou de outros Usuários, ou a estes Termos de Uso serão: Advertência, Suspensão ou Exclusão.

                a) Advertência – O Administrador encaminhará ao e-mail do Usuário uma advertência, quando for constatada alguma infração leve, às regras da comunidade, segundo o critério do Administrador.
                b) Exclusão – O Administrador excluirá Usuário da plataforma, proibindo definitivamente o seu acesso, toda vez que esse tiver incidido em uma infração gravíssima, às regras da comunidade, segundo o critério do Administrador, como por exemplo discriminação, abuso ou tentativa de abuso, ou ainda realização de atividades ilegais.
                As penalidades acima previstas não eximem o Usuário infrator a responder civil e criminalmente por seus atos, perante o Administrador, Usuários ou terceiros prejudicados.


                Pagamento

                pelos serviços utilizados o valor deverá constar em proposta comercial aceita, relativamente ao plano mensal contratado e eventuais serviços adicionais, sendo que referido valor será alterado sempre que o cliente demandar a alteração de categoria de planos.


                Condições Gerais

                Este documento não gera nenhum contrato de sociedade, de mandato, franquia ou relação de trabalho entre o SAJ ADV e o usuário.

                Caso qualquer disposição deste documento for considerada ilegal, nula ou inexequível por qualquer razão, as restantes disposições não serão afetadas e manter-se-ão válidas e aplicáveis na máxima extensão possível.

                Este documento constitui a totalidade do acordo sobre as condições de uso da Plataforma.

                O usuário declara ter ciência dos direitos e obrigações decorrentes do presente instrumento tendo lido, compreendido e aceito todos os termos e condições.

                Qualquer omissão do SAJ ADV para impor ou exercer qualquer disposição deste documento ou direitos conexos, não constitui uma renúncia a esse direito ou disposição.

                A tolerância de uma parte para com a outra quanto ao descumprimento de qualquer uma das obrigações assumidas neste contrato não implicará em novação ou renúncia de direito.

                A parte tolerante poderá, a qualquer tempo, exigir da outra parte o fiel e cabal cumprimento destes termos.

                O usuário aceita receber notificações via correio eletrônico sobre treinamentos, parcerias e campanhas relacionadas à plataforma.

                Fazem parte integrante e complementar do presente acordo todas as regras, instruções, diretrizes e orientações, apresentadas aos Usuários durante a utilização da Plataforma.

                Caso haja alguma contradição entre as regras, instruções, diretrizes e condições esparsas ao longo do uso da plataforma os presentes Termos de Uso, prevalecerão estes em detrimento àquelas.

                A omissão ou tolerância do Administrador em exigir o estrito cumprimento dos termos e condições deste Acordo, não constituirá em nenhuma hipótese novação ou renúncia, nem afetará os seus direitos, que poderão ser exercidos a qualquer tempo.

                O SAJ ADV – Software Jurídico é um serviço de tecnologia operado a partir do Brasil e foi desenvolvido e estruturado de acordo com a legislação vigente, principalmente no que diz respeito ao acesso e uso dos Dados do Usuário, além da forma de proteger sua privacidade.

                As disposições destes Termos de Uso prevalecerão sobre quaisquer outros entendimentos ou eventuais acordos anteriormente celebrados pelas partes.

                Caso tenha qualquer dúvida sobre o conteúdo desses Termos de Uso, entre em contato com nosso suporte através do e-mail: suporte@sajadv.com.br. Será um prazer atende-lo!
            </div>
            Estes são os Termos de Uso (“Termos de Uso”) do SAJ ADV Sistemas Ltda. (“SAJ ADV”), e regulam o acesso à utilização aos serviços, sites, aplicações e funcionalidades do Sistema (“Serviços”), por você (“Usuário”).

            Ao prosseguir com o acesso ao sistema, você estará expressamente concordando com o conteúdo destes Termos de Uso, que representa um contrato entre você e o SAJ ADV, e concorda em se sujeitar a estas regras e condições para ter acesso ao SAJ ADV.

            O acesso aos serviços, sites, aplicações, funcionalidades e a possibilidade de interação entre os Usuários, implica na total compreensão, aceitação, legitimidade e vinculação a estes Termos de Uso, representando desta maneira uma relação equilibrada entre o Aplicativo e os Usuários, que aderem aos Serviços e a estes Termos de Uso espontaneamente.

            Leia atentamente as condições abaixo estabelecidas para que você possa se utilizar de todas as funcionalidades do SAJ ADV, obtendo assim a melhor experiência de uso. Ciente que os Termos de Uso representam o integral acordo entre você e o Sistema. Caso não concorde com as disposições deste instrumento, o usuário não deve utilizá-los.

            SAJ ADV é uma plataforma virtual de gestão de Escritórios de Advocacia e Departamentos Jurídicos, mantida por SAJ ADV SISTEMAS LTDA. (“Administrador”), sediada na cidade de Florianópolis, SC, inscrita no CNPJ sob o n.º 28.687.849/0001-02, empresa regularmente constituída de acordo com as leis do Brasil.

            O acesso aos Serviços dependerá de prévio cadastro do Usuário, e será controlado por senha pessoal e intransferível, que não poderá ser compartilhada, conforme termos e condições especificados a seguir, submetendo-se, desde já, integralmente à legislação Brasileira vigente.

            Cadastro, Segurança e Privacidade do Usuário

            O cadastramento e acesso à plataforma se dá após a assinatura do contrato de prestação de serviços mediante acesso remoto ao servidor do SAJ ADV com um login e senha de usuário administrador que serão fornecidos em até 24hs (vinte e quatro horas) úteis, contadas da data em que for confirmado o pagamento da primeira parcela.

            O Usuário compromete-se a manter atualizado todos os seus dados cadastrais, para ter uma melhor experiência de uso dos Serviços.

            O SAJ ADV obriga-se a não utilizar as informações cadastrais fornecidas pelo Usuário para a realização de quaisquer atividades ilícitas, mas somente para aquelas expressamente permitidas pela legislação Brasileira e pelo presente acordo.

            O Usuário se responsabiliza integralmente, nos termos da lei, pela veracidade e exatidão das informações prestadas em seu cadastro, de modo que qualquer tentativa de criar falsa identidade, idade, endereço eletrônico, etc., será considerada como infração à legislação e a estes Termos de Uso, possibilitando a imediata rescisão deste acordo, unilateralmente, pelo Administrador, sem prejuízo, ainda, de apuração de eventuais perdas e danos causados ao Administrador ou a terceiros e medidas penais como a apuração de crime de falsidade ideológica entre outros. O SAJ ADV reserva-se no direito de, sem qualquer notificação prévia, efetivar a suspensão ou rescisão da relação com algum Usuário, caso a seu exclusivo e subjetivo critério, identifique alguma inveracidade de dados cadastrais essenciais ao acesso à plataforma.

            Observados os requisitos do cadastro e após completado o mesmo, o SAJ ADV concede a você Usuário uma licença não definitiva, não exclusiva, intransferível, revogável e limitada (sem o direito de sublicenciar) para acessar e usar a plataforma apenas em dispositivos que você possua ou controle, apenas para seu uso pessoal e sujeito às limitações estabelecidas nestes Termos de Uso.

            Esta licença limitada restringe-se aos direitos de propriedade intelectual do SAJ ADV e seus licenciadores e não inclui quaisquer direitos sobre propriedade intelectual de terceiros. Os direitos limitados concedidos a você para acessar e usar o site e a aplicação compõem uma licença limitada e não constituem a venda de nenhum programa de software. o SAJ ADV reserva-se em todos os direitos que não lhe são expressamente concedidos de acordo com estes Termos de Uso, na posição de Usuário.

            Características, atividades e objetivos da plataforma

            O SAJ ADV desenvolve e explora a tecnologia digital – “Plataforma” inserida em seu domínio web – www.sajadv.com.br – “Site”, sendo essencial para a realização da prestação dos serviços a que se dispõe.

            A qualquer momento poderão ser incluídos novos conteúdos, ferramentas e funcionalidades à plataforma, bem como excluídas as já existentes, sem qualquer aviso prévio ao Usuário. Estes novos conteúdos e ferramentas ficarão automaticamente vinculadas e subordinadas a todas as condições destes Termos de Uso.

            O SAJ ADV sempre que receber notificações de abuso feitas por algum Usuário, ou violação aos Termos de Uso, a direitos autorais ou à lei, poderá a qualquer momento, sem a necessidade de informá-lo previamente, suspender ou excluir, temporária ou permanentemente, a conta do Usuário que realizar tais violações.

            Direitos de Autor

            Toda a tecnologia e Serviços encontrados na plataforma (textos, imagens, áudios, softwares, tecnologia, logotipos, slogans, marcas, expressões de propaganda, domínios, nomes comerciais, obras intelectuais, etc.), bem como os softwares que viabilizam as atividades, são de exclusiva propriedade do Administrador, que detém todos os direitos autorais, licenciamentos e direitos de propriedade, marca ou patente a eles relativos.

            Qualquer violação dos direitos de propriedade resultará na responsabilidade direta e pessoal do Usuário ou pessoa responsável, que responderá pelos atos praticados nos termos da lei, com a aplicação das sanções cabíveis nas esferas cível e criminal bem como a apuração de perdas e danos.

            O Usuário se compromete a não reproduzir, duplicar, copiar ou explorar os serviços prestados e/ou softwares utilizados ou material disponibilizado pelo SAJ ADV, para quaisquer fins comerciais de interesse próprio, que não previamente autorizados de forma expressa pelo Administrador.

            Nenhuma responsabilidade, de nenhuma espécie, seja ela de acessibilidade, veracidade, legalidade do conteúdo ou outra qualquer, poderá ser imputada ao Administrador, sempre que algum Usuário, por meio da plataforma, adentrar-se em Sites ou Links de propriedade, administração ou controle de terceiros, tais como patrocinadores, parceiros, prestadores de serviços, etc.

            O Usuário fica terminantemente proibido de: a) utilizar-se das atividades da plataforma para quaisquer fins comerciais, mediante o envio de publicidade, comunicações, avisos, correspondências institucionais, propagandas ou qualquer outro material de natureza semelhante; b) enviar quaisquer espécies de arquivos ou material com vírus que possam causar danos ao software ou ao hardware dos demais Usuários; c) realizar, ou tentar realizar, qualquer tipo de ataque ou invasão ao software.

            Exclusão de Responsabilidade do Administrador

            a) Pela impossibilidade de acesso à Plataforma ou falha de comunicação com o mesmo decorrente de:

            I) quaisquer defeitos ou inadequação dos equipamentos utilizados pelo Usuário para acessar a Plataforma, incluindo, mas não se limitando, aos softwares, hardwares, sistemas de processamento e quaisquer conexões de rede; II) inabilidade do Usuário para operação dos seus equipamentos; III) falta de compreensão das instruções contidas nestes Termos de Uso; IV) falhas na Rede Mundial de Computadores (Internet) e Provedores; V) falhas nos sistemas, softwares e/ou hardwares do Administrador; VI) interrupções propositais realizadas pelo Administrador, por quaisquer motivos; VII) interrupção das atividades do Administrador; VIII) caso fortuito ou força maior.
            b) Por quaisquer prejuízos causados por gravação realizada pelo Usuário (download) para os seus equipamentos próprios, de quaisquer arquivos eletrônicos existentes ou disponibilizados no Aplicativo, quer pelo Administrador, quer por outros Usuários, ou ainda por terceiros;
            c) Por quaisquer prejuízos advindos ao Usuário pela utilização indevida e/ou dolosa por terceiros;
            d) Por quaisquer prejuízos decorrentes da utilização indevida da senha do Usuário por terceiros;
            e) Por eventual inviabilidade técnica de efetivo envio de informações decorrente da impossibilidade de acesso ou falha de comunicação atribuível ao Administrador ou ainda por falhas ordinárias ou extraordinárias, principalmente aquelas que possam resultar em perda de dados e informações previamente obtidas e armazenadas, fluxo de informações a serem obtidas, manutenção do cadastro do Usuário junto a plataforma, bem como por interrupções momentâneas ou definitivas nos Serviços;
            f) Quer civil ou criminalmente pelo conteúdo visual, auditivo ou textual inserido na plataforma por Usuários, que são de inteira responsabilidade do Usuário que as enviou ou publicou.
            g) Por atos de má-fé de terceiros que invadam o software da plataforma, tais como hackers, acessem os dados cadastrais e pessoais fornecidos pelo Usuário e se utilizem ilicitamente dos mesmos para quaisquer fins. O Administrador declara ter os cuidados razoáveis para evitar a invasão do sistema, mas não se responsabiliza e não pode se responsabilizar, pela inviolabilidade do mesmo.
            h) Pela inadimplência de Usuários às normas da lei ou destes Termos de Uso, que gere prejuízos a terceiros e/ou a outros Usuários.

            Prazo, Rescisão e Modificação de Cláusulas

            Os presentes Termos de Uso terão validade e vigência durante o período em que a plataforma estiver disponibilizando seus Serviços ao Usuário conforme estabelecido em contrato de prestação de serviços.

            O Administrador reserva-se o direito de bloquear o acesso e rescindir de imediato, sem aviso prévio, o presente termo de uso, toda vez que, a seu exclusivo critério, entender que há indícios de utilização fraudulenta ou ilícita da plataforma por determinado Usuário. Inclui-se na presente situação, entre outras, quaisquer indícios (a critério único e subjetivo do Administrador) de que o Usuário fraudou ou infringiu, de forma efetiva ou tentada, o sistema de segurança do site.

            Também poderá o Administrador rescindir de imediato o acordo com o respectivo Usuário, impedindo inclusive o recadastramento deste que, a critério exclusivo e subjetivo daquele, tiver de qualquer maneira agido contra a moral, ética, bons costumes, lei, disposições deste instrumento.
            Caso, no entanto, a rescisão tenha sido levada a efeito pelo Administrador, este reserva-se no direito de, a seu exclusivo critério, não aceitar nova solicitação de cadastramento do mesmo Usuário.

            Nossos Termos de Uso são passíveis de alterações. Não se preocupe, manteremos um registro das mudanças em nosso sistema. Também iremos informar nossa base de clientes antes das eventuais modificações entrarem em vigor.

            Penalidades

            O descumprimento de quaisquer das cláusulas e condições destes Termos de Uso por parte do Usuário poderá gerar penalidades a serem impostas ao mesmo pelo Administrador.

            As penalidades passíveis de imposição pelo Administrador, a seu exclusivo critério e independente de justificação, sempre que o Usuário tiver praticado uma infração à lei, aos direitos de terceiros ou de outros Usuários, ou a estes Termos de Uso serão: Advertência, Suspensão ou Exclusão.

            a) Advertência – O Administrador encaminhará ao e-mail do Usuário uma advertência, quando for constatada alguma infração leve, às regras da comunidade, segundo o critério do Administrador.
            b) Exclusão – O Administrador excluirá Usuário da plataforma, proibindo definitivamente o seu acesso, toda vez que esse tiver incidido em uma infração gravíssima, às regras da comunidade, segundo o critério do Administrador, como por exemplo discriminação, abuso ou tentativa de abuso, ou ainda realização de atividades ilegais.
            As penalidades acima previstas não eximem o Usuário infrator a responder civil e criminalmente por seus atos, perante o Administrador, Usuários ou terceiros prejudicados.


            Pagamento

            pelos serviços utilizados o valor deverá constar em proposta comercial aceita, relativamente ao plano mensal contratado e eventuais serviços adicionais, sendo que referido valor será alterado sempre que o cliente demandar a alteração de categoria de planos.


            Condições Gerais

            Este documento não gera nenhum contrato de sociedade, de mandato, franquia ou relação de trabalho entre o SAJ ADV e o usuário.

            Caso qualquer disposição deste documento for considerada ilegal, nula ou inexequível por qualquer razão, as restantes disposições não serão afetadas e manter-se-ão válidas e aplicáveis na máxima extensão possível.

            Este documento constitui a totalidade do acordo sobre as condições de uso da Plataforma.

            O usuário declara ter ciência dos direitos e obrigações decorrentes do presente instrumento tendo lido, compreendido e aceito todos os termos e condições.

            Qualquer omissão do SAJ ADV para impor ou exercer qualquer disposição deste documento ou direitos conexos, não constitui uma renúncia a esse direito ou disposição.

            A tolerância de uma parte para com a outra quanto ao descumprimento de qualquer uma das obrigações assumidas neste contrato não implicará em novação ou renúncia de direito.

            A parte tolerante poderá, a qualquer tempo, exigir da outra parte o fiel e cabal cumprimento destes termos.

            O usuário aceita receber notificações via correio eletrônico sobre treinamentos, parcerias e campanhas relacionadas à plataforma.

            Fazem parte integrante e complementar do presente acordo todas as regras, instruções, diretrizes e orientações, apresentadas aos Usuários durante a utilização da Plataforma.

            Caso haja alguma contradição entre as regras, instruções, diretrizes e condições esparsas ao longo do uso da plataforma os presentes Termos de Uso, prevalecerão estes em detrimento àquelas.

            A omissão ou tolerância do Administrador em exigir o estrito cumprimento dos termos e condições deste Acordo, não constituirá em nenhuma hipótese novação ou renúncia, nem afetará os seus direitos, que poderão ser exercidos a qualquer tempo.

            O SAJ ADV – Software Jurídico é um serviço de tecnologia operado a partir do Brasil e foi desenvolvido e estruturado de acordo com a legislação vigente, principalmente no que diz respeito ao acesso e uso dos Dados do Usuário, além da forma de proteger sua privacidade.

            As disposições destes Termos de Uso prevalecerão sobre quaisquer outros entendimentos ou eventuais acordos anteriormente celebrados pelas partes.

            Caso tenha qualquer dúvida sobre o conteúdo desses Termos de Uso, entre em contato com nosso suporte através do e-mail: suporte@sajadv.com.br. Será um prazer atende-lo! 
        </main>

        <footer class="border-top text-muted bg-light">
            <div class="container">
                <div class="row py-3">
                    <div class="col-12 col-md-4 text-center">
                        &copy; 2020 - Quitanda Online Ltda ME<br>
                        Rua Virtual Inexistente, 171, Compulândia/PC <br>
                        CPNJ 99.999.999/0001-99
                    </div>
                    <div class="col-12 col-md-4 text-center">
                        <a href="/privacidade.html" class="text-decoration-none text-dark">
                            Política de Privacidade
                        </a><br>
                        <a href="/termos.html" class="text-decoration-none text-dark">
                            Termos de Uso
                        </a><br>
                        <a href="/quemsomos.html" class="text-decoration-none text-dark">
                            Quem Somos
                        </a><br>
                        <a href="/trocas.html" class="text-decoration-none text-dark">
                            Trocas e Devoluções
                        </a>
                    </div>
                    <div class="col-12 col-md-4 text-center">
                        <a href="/contato.html" class="text-decoration-none text-dark">
                            Contato pelo Site
                        </a><br>
                        E-mail: <a href="mailto:email@dominio.com" class="text-decoration-none text-dark">
                            email@dominio.com
                        </a><br>
                        Telefone: <a href="phone:28999990000" class="text-decoration-none text-dark">
                            (28) 99999-0000
                        </a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
  
</body>

</html>