@page
@model WeblawyersBox.Areas.Identity.Pages.Account.ValidarEmailModel
@{
    ViewData["Title"] = "ValidarEmail";
}

<h1>Validar Email</h1>
<div>
    <p>Solicitamos que confirme o seu email !</p>
    <p>Caso nao encontre em sua caixa de entrada verfica no Span!</p>
</div>

